/* body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
} */
pre {
  font-size: 7em;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
}

.marks .interiors {
  fill: none;
  stroke: #fffff0;
  stroke-width: 1;
}
/* .marks .interiors:hover {
  stroke: #0000ff;
} */

.axis-label {
  font-size: 2.5em;
  fill: #635f5d;
}
.timeline {
  display: flex;
  margin-top: 0.5rem;
}

.playButton {
  position: relative;
  top: 0.1rem;
  cursor: pointer;
}

.pauseButton {
  position: relative;
  margin-right: 0.3rem;
  top: 0.3rem;
  cursor: pointer;
}

#reset-map-button {
  position: absolute;
  left: 736px;
  top: 37.5rem;
  z-index: 99;
  border: 1px solid grey;
  border-radius: 3%;
  font-size: 0.75rem;
}

.slider-wrapper input {
  width: 750px;
  height: 40px;
  z-index: 99;
}
.slider-wrapper datalist {
  display: flex;
  width: 40px;
}
.slider-wrapper datalist option {
  font-size: 0.05px;
  /* transform-origin: top center; */
  transform: rotate(-90deg);
}

.current_year {
  position: relative;
  top: 0.4rem;
  left: 0.5rem;
  z-index: 99;
}

#reset-map {
  stroke-width: 0.5;
  stroke: #333333;
}

text.button {
  font-size: 0.75rem;
}
text.button:hover {
  
  cursor: pointer;
  text-decoration: underline;
}
/* .slider-wrapper datalist option:nth-child(1) {
  transform: translate(-14px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(2) {
  transform: translate(-27px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(3) {
  transform: translate(-41px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(4) {
  transform: translate(-55px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(5) {
  transform: translate(-69px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(6) {
  transform: translate(-84px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(7) {
  transform: translate(-100px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(8) {
  transform: translate(-114px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(9) {
  transform: translate(-128px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(10) {
  transform: translate(-143px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(11) {
  transform: translate(-156px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(12) {
  transform: translate(-165px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(13) {
  transform: translate(-175px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(14) {
  transform: translate(-186px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(15) {
  transform: translate(-197px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(16) {
  transform: translate(-208px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(17) {
  transform: translate(-219px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(18) {
  transform: translate(-229px, 10px) rotate(-90deg);
}
.slider-wrapper datalist option:nth-child(19) {
  transform: translate(-240px, 10px) rotate(-90deg);
}    */

.border {
  transition: 1s;
  
}

.border:hover {
  stroke: black;
}

.border .tooltiptext {
  
  width: 120px;
  background-color: rgb(69, 165, 90);
  color: #e70202;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2;
} 
.border2 {
  transition: 1s;
}

.border2 {
  stroke: black;
}



/* 
  
  Interactive Map Media Queries 
  
*/

@media (width >= 1850px) {
  #homepage-map-svg {
    height: 600px;
  }
  .slider-wrapper input {
    width: 750px;
    height: 40px;
    z-index: 99;
  }
}

@media (1850px > width >= 1700px) {
  #homepage-map-svg {
    height: 520px;
  }
  .slider-wrapper input {
    width: 750px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 1700px) {
  #homepage-map-svg {
    height: 515px;
  }
  .slider-wrapper input {
    width: 700px;
    height: 40px;
    z-index: 99;
  }
}
@media (max-width: 1650px) {
  .slider-wrapper input {
    width: 680px;
    height: 40px;
    z-index: 99;
  }
}
@media (max-width: 1600px) {
  #homepage-map-svg {
    height: 500px;
  }
  .slider-wrapper input {
    width: 650px;
    height: 40px;
    z-index: 99;
  }
}
@media (max-width: 1550px) {
  .slider-wrapper input {
    width: 600px;
    height: 40px;
    z-index: 99;
  }
}
@media (max-width: 1500px) {
  #homepage-map-svg {
    height: 507px;
  }
  .slider-wrapper input {
    width: 600px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 1480px) {
  .slider-wrapper input {
    width: 590px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 1400px) {
  #homepage-map-svg {
    height: 525px;
  }
}

@media (max-width: 1360px) {
  .slider-wrapper input {
    width: 570px;
    height: 40px;
    z-index: 99;
  }
}
@media (max-width: 1300px) {
  .slider-wrapper input {
    width: 540px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 1250px) {
  .slider-wrapper input {
    width: 520px;
    height: 40px;
    z-index: 99;
  }
}
/* At 1230, interactive panel enlarges, stretch slider */
@media (max-width: 1230px) {
  .slider-wrapper input {
    width: 560px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 1130px) {
  /* When side details snap below map */
  #homepage-map-svg {
    height: 400px;
  }
  .slider-wrapper input {
    width: 560px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 1010px) {
  /* When side details snap below map */
  #homepage-map-svg {
    height: 400px;
  }
  .slider-wrapper input {
    width: 520px;
    height: 40px;
    z-index: 99;
  }
}
/* Mobile Devices */
@media (max-width: 950px) {
  .slider-wrapper input {
    width: 500px;
    height: 40px;
    z-index: 99;
  }
}
@media (max-width: 850px) {
  .slider-wrapper input {
    width: 400px;
    height: 40px;
    z-index: 99;
  }
}

/* Mobile Devices */
@media (max-width: 900px) {
  #homepage-map-svg {
    height: 300px;
  }
}

@media (max-width: 930px) {
  #homepage-map-svg {
    height: 300px;
  }
  .slider-wrapper input {
    width: 460px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 860px) {
  .slider-wrapper input {
    width: 420px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 800px) {
  #homepage-map-svg {
    height: 280px;
  }
  .slider-wrapper input {
    width: 370px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 720px) {
  .slider-wrapper input {
    width: 200px;
    height: 40px;
    z-index: 99;
  }
}

@media (max-width: 650px) {
  #homepage-map-svg {
    height: 250px;
  }
}

/* 
  
  Reset button Media Queries 
  
*/
@media (max-width < 1680px) {
  #reset-map-button {
    position: absolute;
    top: 37.5rem;
    z-index: 99;
    border: 1px solid grey;
    border-radius: 3%;
    font-size: 0.75rem;
  }
}
