body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}
.marks .states {
  fill: #137B80;
}
.marks .interiors {
  fill: none;
  stroke: #C0C0BB;
}
.marks .states:hover {
 fill:green;
}

Circle {
 fill: #2fc7ff;
 opacity: .85;

}
