body {
  font-family: "Poppins", sans-serif;
}
pre {
  font-size: 7em;
}
.marks .states {
  fill: #137b80;
}
.marks .interiors {
  fill: none;
  stroke: #c0c0bb;
}
.marks .states:hover {
  fill: green;
}

Circle {
  fill: #2fc7ff;
  opacity: 0.85;
}
