.home-page {
  /* 
  only uncomment if you want to be amazed ;) 
  background-image: linear-gradient(#213832, #fffff3);
  */
  background-image: linear-gradient(#213832 15%, #fffff3);
  /* background-color: #213832; */
  max-width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
