.entire-page-1 {
  background-color: #213832;
  font-family: "Open Sans", sans-serif;
}

.center-content-2 {
  width: 70%;
  margin: auto;
  padding-top: 5rem;
}

.center-content-2 h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
}

.about-description {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-description h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  padding: 2% 0;
}

.about-p {
  font-size: 1.4rem;
  font-weight: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about-description a:link,
.about-description a:visited {
  color: #51931bcd;
  text-decoration: none;
}

.about-description a:hover {
  color: #bde59c;
  text-decoration: underline;
}

.about-description a:active {
  color: #bde59c;
}

@media (max-width: 1500px) {
  .center-content-2 {
    width: 80%;
    margin: auto;
    padding-top: 5rem;
  }
}
@media (max-width: 1300px) {
  .about-description {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .about-p {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 1000px) {
  .about-description {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .about-p {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
