.navbar {
  border-radius: 1rem;
  background-color: #fefefe;
  width: 50rem;
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  max-width: 15%;
  height: auto;
  padding-left: 1rem;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 35rem;
  padding-right: 1rem;
}
.custom-nav-link {
  color: black;
  text-decoration: none;
  transition: 0.2s;
}
.custom-nav-link:hover {
  color: #bde59c;
}
