footer {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding-top: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
}
.content {
  display: center;
  width: 70%;
  margin: auto;
}
.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.box1 img {
  height: 3rem;
  margin-bottom: 2rem;
}
.box1 p {
  padding: 0%;
  color: grey;
}
.box1,
.box2,
.box3 {
  padding-right: 10rem;
}
.top a {
  color: grey;
  display: block;
  padding-bottom: 0.5rem;
}
.top a:link {
  text-decoration: none;
}
.top a:visited {
  text-decoration: none;
}
.top a:hover {
  text-decoration: underline;
}
.top a:active {
  text-decoration: none;
}
.bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.bottom p {
  font-size: 0.9rem;
  color: grey;
  font-weight: 549;
}
.bottom img {
  height: 1.7rem;
  padding-left: 1rem;
}
hr {
  border-color: grey;
  height: 1px;
}
@media (max-width: 595px) {
  footer {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    padding-top: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
    position: relative;
    top: 10rem;
  }
}
