.top-bar-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  animation: transitionIn 0.7s;
  background-color: white;
}

.top-bar-no-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.header-logo {
  height: 2rem;
  padding-right: 1rem;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
