.data-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  margin: auto;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #213832;
}

.d3-graph {
  background-color: green;
  width: 80rem;
  height: 30rem;
}
.header {
  float: left;
}

#interactive-map {
  background-color: white;
  border-radius: 3%;
  padding: 2rem 1rem 2rem 1rem;
}
