.globe-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 0rem;
  padding-top: 10rem;
}

#placeholder_graph {
  height: 200px;
}
.graph {
  display: flex;
  justify-content: center;
  width: 100%;
}
#graph_wrapper {
  background-color: #f5f5f5;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5em;
  width: 80.58%;
  position: relative;
  top: -15rem;
  left: 0rem;
}

#globe {
  border-radius: 50%;
  width: 100rem;
  height: 100rem;
  background-color: transparent;
  display: inline-block;
  transform: scale(1);
}

#globe-image {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}
.interactive-map-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}

@media (max-width: 650px) {
  #globe-image {
    max-width: 100%;
    position: relative;
    top: 6rem;
    max-height: 100%;
    opacity: 1;
  }
}

@media (width >= 2100px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 80.58%;
    position: relative;
    top: -10rem;
    left: 0rem;
  }
}

@media (2100px > width >= 1850px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 80.58%;
    position: relative;
    top: -10rem;
    left: 0rem;
  }
}
@media (1850px > width >= 1700px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 80.58%;
    position: relative;
    top: -10rem;
    left: 0rem;
  }
}
@media (max-width: 1680px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 80.58%;
    position: relative;
    top: -15rem;
    left: 0rem;
  }
}
@media (max-width: 1670px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 80.58%;
    position: relative;
    top: -14.5rem;
    left: 0rem;
  }
}
@media (max-width: 1645px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 80.58%;
    position: relative;
    top: -15rem;
    left: 0rem;
  }
}
@media (max-width: 1620px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 80.58%;
    position: relative;
    top: -15rem;
    left: 0rem;
  }
}
@media (max-width: 1355px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 80.58%;
    position: relative;
    top: -15rem;
    left: 0rem;
  }
}

@media (max-width: 1270px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 91%;
    position: relative;
    top: -15rem;
    left: 0rem;
  }
}
@media (max-width: 1130px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 91%;
    position: relative;
    top: -6rem;
    left: 0rem;
  }
}
@media (max-width: 1115px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 91%;
    position: relative;
    top: -3rem;
    left: 0rem;
  }
}

@media (max-width: 930px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 91%;
    position: relative;
    top: -9rem;
    left: 0rem;
  }
}
@media (max-width: 845px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 91%;
    position: relative;
    top: -4rem;
    left: 0rem;
  }
}
@media (max-width: 650px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 91%;
    position: relative;
    top: -12rem;
    left: 0rem;
  }
}
@media (max-width: 595px) {
  #graph_wrapper {
    background-color: #f5f5f5;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5em;
    width: 91%;
    position: relative;
    top: 6rem;
    left: 0rem;
  }
}
