#graphwidget {
  width: 100%;
}
.ResponsiveContainer {
  position: absolute;
}
.recharts-wrapper {
  text-decoration:"none";
  position: absolute;
  width: 849px;
  height: 300px;
 
}

text.hover{
  text-decoration:"none";
}
