.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.center-div img {
  width: 40rem;
  animation: transitionIn 1s;
}
.globe-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.globe {
  border-radius: 50%;
  width: 100rem;
  height: 100rem;
  background-color: #002a5c;
  display: inline-block;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
