.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 0rem;
  scroll-behavior: smooth;
}
.ten-green-logo {
  max-width: 40%;
  animation: transitionIn 1s;
  padding-right: 1rem;
}

.info-div {
  width: 2rem;
  margin-top: auto;
  margin-bottom: 0;
}

.info-icon {
  width: 2rem;
  animation: transitionIn 1s;
}

.hidden-info {
  display: none;
}

.info-icon:hover + .hidden-info {
  display: block;
  position: relative;
  background-color: white;
  padding: 0.6rem;
  border-radius: 5%;
  width: 20rem;
  font-size: 80%;
  right: 7.5rem;
  top: 10.5rem;
}

.info-icon:hover {
  position: relative;
  top: 10.6rem;
}

@keyframes transitionRight {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(2rem);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.scroll-down {
  position: relative;
  text-align: center;
  bottom: 3.4rem;
  right: 1.2rem;
  font-size: 0.9rem;
  color: white;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 80px);
  left: calc(93% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid white;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

.downloadbtn {
  margin-bottom: 0.5rem;
  height: 2rem;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  color: red;
  text-align: center;
  position: relative;
  left: 1570px;
  top: -970px;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .ten-green-logo {
    max-width: 50%;
    animation: transitionIn 1s;
    padding-right: 1rem;
  }
}

@media (max-width: 800px) {
  .ten-green-logo {
    max-width: 60%;
    animation: transitionIn 1s;
    padding-right: 1rem;
  }
}
