.side-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.5rem;
}

.side-details button {
  margin-bottom: 0.3rem;
  height: 1.7rem;
  border: 1px solid grey;
  width: 7rem;
  border-radius: 5px;
  text-align: left;
}
.side-details label {
  font-size: 0.6rem;
}
.side-details hr {
  margin: 0.5rem 0rem;
}

.button {
  /* background-color: black;
color: white; */
}

.button:disabled {
  background-color: lightblue;
  color: black;
}
@media (1600px <= width <= 1700px) {
  .side-details {
    right: 9rem;
  }
}
@media (1500px <= width <= 1600px) {
  .side-details {
    right: 12rem;
  }
}
