.side-details {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  right: 5.5rem;
  margin-left: 6.5rem;
}

.side-details input {
  margin-bottom: 0.5rem;
  height: 1.2rem;
  width: 6rem;
  margin-right: 2rem;
  border: none;
  border-radius: 5px;
}
.side-details label {
  font-size: 0.6rem;
}

.button {
/* background-color: black;
color: white; */
}

.button:disabled{
background-color: lightblue;
color: black; 
}
@media (1600px <= width <= 1700px) {
  .side-details {
    right: 9rem;
  }
}
@media (1500px <= width <= 1600px) {
  .side-details {
    right: 12rem;
  }
}
