.side-details {
  margin-left: 1rem;
}
.side-details h6 {
  margin-bottom: 1.5rem;
}
.side-detail-pollutant {
  text-align: center;
  display: grid;
  align-items: end;
  grid-template-columns: 35% 65%;
  margin: 0.5rem 0rem;
}
.side-detail-pollutant-10Green {
  text-align: center;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 35% 65%;
}
.pollutant-title {
  margin-right: 1rem;
  text-align: left;
  font-size: 0.7rem;
}
.side-details button {
  
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1.7rem;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}
.side-details hr {
  margin: 0.5rem 0rem;
  padding-bottom: 0.5rem;
  height: 1px;

  border-color: black;
}

.button {
  /* background-color: blue; */
}
.button:disabled {
  font-weight: bold;
}

/* .button:badscore {
  background-color: red;
  color: black;

}
.button.goodscore {
  background-color: green;
  color: red;
} */

@media (1600px <= width <= 1700px) {
  .side-details {
    right: 9rem;
  }
}
@media (1500px <= width <= 1600px) {
  .side-details {
    right: 12rem;
  }
}
