.AQNowButton {
  margin-left: 1rem;
  background-color: #002a5c;
  color: #edf0f0;
  border-radius: 0.7rem;
  border-width: 0rem;
  width: 7rem;
  height: 3.6rem;
  transition: 0.3s;
}
.AQNowButton:hover {
  background-color: #67cfcf;
  color: #edf0f0;
  box-shadow: none;
}
