.navbar {
  border-radius: 1rem;
  background-color: #ffffff;
  width: 50rem;
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  max-width: 20%;
  height: auto;
  padding-left: 1em;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 30rem;
  padding-right: 1rem;
}
.custom-nav-link {
  color: black;
  text-decoration: none;
}
